@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 96%;
    --foreground: 224 76% 15%;
    --card: 240 10% 100%;
    --card-foreground: 224 76% 15%;
    --popover: 240 10% 100%;
    --popover-foreground: 224 76% 15%;
    --primary: 220 39% 26%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 220 39% 26%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 147 14% 49%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 220 39% 26%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 147 40% 40%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --sidebar-background: 220 30% 18%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 220 39% 26%;
    --sidebar-accent: 220 30% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 30% 22%;
    --sidebar-ring: 220 39% 70%;
  }
  .dark {
    --background: 220 15% 10%;
    --foreground: 0 0% 98%;
    --card: 220 15% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 220 15% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 220 39% 70%;
    --primary-foreground: 220 39% 10%;
    --secondary: 220 15% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 15% 20%;
    --muted-foreground: 220 15% 60%;
    --accent: 147 20% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 22%;
    --input: 220 15% 22%;
    --ring: 220 39% 70%;
    
    --sidebar-background: 220 15% 14%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 220 39% 26%;
    --sidebar-accent: 220 15% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 15% 25%;
    --sidebar-ring: 220 39% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
