@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 224 76% 15%;
    --card: 0 0% 100%;
    --card-foreground: 224 76% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 76% 15%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 262 84% 26%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20% 65%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 24 9.8% 10%;
    --radius: 0.5rem;
    --chart-1: 24 90% 55%;
    --chart-2: 142.1 76.2% 36.3%;
    --chart-3: 160 70% 45%;
    --chart-4: 200 80% 50%;
    --chart-5: 340 75% 55%;
    
    --sidebar-background: 220 30% 18%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 220 39% 26%;
    --sidebar-accent: 220 30% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 30% 22%;
    --sidebar-ring: 220 39% 70%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 142.1 76.2% 36.3%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 24.6 95% 53.1%;

    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 70%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
